In [6]:
import mysql.connector

# Connect to out Database and create cursor

In [7]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "testdb" # Select your database
)
mycoursor = mydb.cursor()

ProgrammingError: 1049 (42000): Unknown database 'testdb'

# Create Database

In [ ]:
# Create Database 
mycoursor.execute("CREATE DATABASE testdb") 

# Print Databases 
mycoursor.execute("SHOW DATABASES")
for db in mycoursor:
    print(db)

mycoursor.execute("CREATE TABLE students (name VARCHAR(255), age INTEGER(10))") # Create table

# Populating our Database and Table

In [17]:
sqlFormula = """INSERT INTO students (name, age) VALUES (%s, %s) """ # Create formula 
students = [( 'rafał', 14 ), 
            ( 'michał', 20 ),
            (' Beata', 23) ]
mycoursor.executemany(sqlFormula, students)

mydb.commit()

- If you would like to insert single row use mycoursor.execut() metod

# Selecting and Getting Data

In [15]:
mycoursor.execute("SELECT * FROM students")
myresult = mycoursor.fetchall()
for row in myresult:
    print(row)

('Anna', 21)
('Miachał', 21)
('BB', 11)
('aaa', 21)
('BB', 11)
('aaa', 21)
('rafał', 14)
('michał', 20)
(' Beata', 23)

###### If you would like to retrive one row use mycoursor.fetone()

# Query Conditions with WHERE and Wildcards

In [32]:
sql = "SELECT * FROM students WHERE name = %s" # Get result with name starts with M
mycoursor.execute(sql, ('michał', ))
student22 = mycoursor.fetchall()
for row in student22:
    print(row)

('michał', 20)

# Updating Entries

In [17]:
sql = "UPDATE students SET age = 13 WHERE name = 'BB'"
mycoursor.execute(sql)
mydb.commit()

mycoursor.execute("SELECT * FROM students")
rV = mycoursor.fetchall()
for row in rV:
    print(row)

('Anna', 21)
('Miachał', 21)
('BB', 13)
('aaa', 21)
('BB', 13)
('aaa', 21)
('rafał', 14)
('michał', 20)
(' Beata', 23)

# Limiting Queries

In [19]:
mycoursor.execute("SELECT * FROM students LIMIT 5")

rV = mycoursor.fetchall()
for row in rV:
    print(row)

('Anna', 21)
('Miachał', 21)
('BB', 13)
('aaa', 21)
('BB', 13)

# Drop our Database

In [1]:
sql = "DROP DATABASE testdb"
mycoursor.execute(sql)

rV = mycoursor.fetchall()
for row in rV:
    print(row)

NameError: name 'mycoursor' is not defined