In [1]:
import sqlite3
import pandas as pd

# Create Database

In [2]:
connection = sqlite3.connect('student.db')

#Create a table
sql_create_table = """
CREATE TABLE students (
    student_id TEXT PRIMARY KEY,
    student_name TEXT NOT NULL,
    gender TEXT,
    major TEXT,
    year_enrolelr INTEGER,
    email TEXT UNIQUE
)
"""
cursor = connection.cursor()

try:
    cursor.execute(sql_create_table)
    cursor.commit()
except Exception as e:
    print(e)
    connection.rollback()

table students already exists

# Insert Values into our database

In [13]:
# Insert records
cursor = connection.cursor()
cursor.execute("INSERT INTO students VALUES ('A10011','student_name1','M','Computer Science',2022,'email11@gmail.com')")
cursor.execute("INSERT INTO students VALUES ('A10013','student_name3','M','English',2018,'email13@gmail.com')")
cursor.execute("INSERT INTO students VALUES ('A10012','student_name2','F','Biology',2021,'email12@gmail.com')")
cursor.execute("INSERT INTO students VALUES ('A10014','student_name4','M','Accounting',2018,'email14@gmail.com')")
cursor.execute("INSERT INTO students VALUES ('A10015','student_name5','F','Marketing',2019,'email15@gmail.com')")
cursor.execute("INSERT INTO students VALUES ('A10016','student_name6','F','Sociology',2022,'email16@gmail.com')")
connection.commit()

IntegrityError: UNIQUE constraint failed: students.email

In [3]:
cursor.execute("SELECT * FROM students")
rV = cursor.fetchall()
for row in rV:
    print(row)

('A10011', 'student_name1', 'M', 'Computer Science', 2022, 'email11@gmail.com')
('A10013', 'student_name3', 'M', 'English', 2018, 'email13@gmail.com')
('A10012', 'student_name2', 'F', 'Biology', 2021, 'email12@gmail.com')
('A10014', 'student_name4', 'M', 'Accounting', 2018, 'email14@gmail.com')
('A10015', 'student_name5', 'F', 'Marketing', 2019, 'email15@gmail.com')
('A10016', 'student_name6', 'F', 'Sociology', 2022, 'email16@gmail.com')

In [ ]:
%load_ext sql

UsageError: Line magic function `%sql` not found.